{% extends 'news/layout.html'%}
{% load static %}
{% block title%}News{% endblock %}
{% block static %}
<link rel="stylesheet" href="{% static 'news/css/item.css' %}">
{% endblock%}
{% block content %}
    <div style="background: url({{news.image.url}});background-repeat: space;background-position: center;background-size: cover;min-height: 1000px;"
    >
        <div class="list">
            <div class="top">
                <a class="arrow btn btn-light" href="{% url 'news:news_item' pk=news.id %}?post=prev"><i class="fa fa-arrow-left"></i></a>
            <img style="width: 300px; height: auto" src="{{ news.image.url}}"/>
            <div class="content">
                <a class="title">{{news.title}}</a>
                <a class="body">{{news.content|linebreaks}}</a>
            </div>
                <a class="arrow btn btn-right" href="{% url 'news:news_item' pk=news.id %}?post=next"><i class="fa fa-arrow-right"></i></a>
        </div>
            <div class="comments">
                {% if user.is_authenticated%}
                <div>
                    <h3>Ваш комментарий</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit">Отправить</button>
                    </form>
                </div>
                {% else %}
                <h1>Воойдите или зарегестрируйтесь, чтобы оставить комментарий</h1>
                {% endif %}
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comment">
                            <a>{{comment.author}}</a>
                            <a>{{comment.text}}</a>
                            <a>{{comment.date_published}}</a>

                        </div>
                    {% endfor %}
                {% else %}
                    <a>Комментариев пока нет</a>
                {% endif %}
            </div>
        <div>
            <a class="author">{{news.author}}</a>
            <a class="date_published">{{news.date_published}}</a>
        </div>
        </div>


    </div>
{% endblock %}